/www/vendor
/www/web/modules/contrib/
/www/web/sites/default/files/css/
/www/web/sites/default/files/js/
/www/web/sites/default/files/php/
/www/web/sites/default/files/styles/
/www/web/sites/default/files/styles/
/www/web/core/
/www/web/web.config
/www/web/update.php
/www/web/robots.txt
/www/web/README.md
/www/web/INSTALL.txt
/www/web/index.php
.history/
/www/web/.csslintrc
/www/web/.eslintignore
/www/web/.eslintrc.json
/www/web/.ht.router.php
/www/web/.htaccess
/www/web/autoload.php
/www/.editorconfig
/www/.gitattributes